

  *{margin:0 ; padding: 0 ;}
  body{
    width: 962px;
    background-color:white;
    border:1px solid black;
  }
  
  h1{padding: 10px;}
  
  header{border-bottom: 2px solid navy;}
  
  section{
    height: 400px;
    width: 600px;
    float: left;
    border-right: 2px solid navy;
  }
  
  aside{
    width: 360px;
    float: right;
  }
